@font-face {
  font-family: "UserFont";
  src: url(./resources/font.ttf) format("truetype");
  font-style: normal;
}

div td {
  font-family: 'UserFont';
}

.page-home {
  background-image: url(./resources/page_home_background.png);
}

.page-home-header {
  display: flex;
  flex-direction: column;
  align-items: center;
 /* padding-top: 20px; */
}

.page-home-header-table-nested td {
  transition: 0.5s color;
}

.page-home-header-table-nested td:hover {
  color: #464646;
  transition: 0.75s color;
}

.page-home-footer {
  padding-top: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f1f1f1;
  font-size: 20px;
}

.page-aboutme {
  background-color: #ffffff;
}

.page-aboutme-header {
  display: flex;
  flex-direction: column;
  align-items: center;
 /* padding-top: 20px; */
}

.page-aboutme-header-table {
  border-bottom: 1px solid #bebebe;
  color: #bebebe;
  font-size: 20px;
}



.page-aboutme-header-table-nested td {
  transition: 0.5s color;
}

.page-aboutme-header-table-nested td:hover {
  color: #464646;
  transition: 0.75s color;
}

.page-aboutme-footer {
  clear: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #bebebe;
  font-size: 20px;
}
/*
@media (max-width: 773px) {
  .page-aboutme-content {
    margin-right: 100px;
  }
  
  .page-aboutme-content-post-header {
    letter-spacing: 3px;
    font-size: 42px;
    padding-bottom: 30px;
  }
  
  .page-aboutme-content-post-footer {
    font-size: 34px;
  }
  
  .page-aboutme-content-post-body {
    font-size: 20px;
    padding: 5px;
  }
}
*/

@media (max-width: 499px) {
  .page-home-header-table {
    font-family: 'UserFont';
    color: #f1f1f1;
    font-size: 20px;
  }

  .page-aboutme-header-table-nested {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   /* padding-bottom: 20px; */
  }

  .page-aboutme-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .page-aboutme-content-image {
    width: 100%;
    margin-bottom: 40px;
  } 
  
  .page-aboutme-content-post {
    width: 75%;
    margin-bottom: 25px;
  }
  
  .page-aboutme-content-post-header {
    letter-spacing: 3px;
    font-size: 42px;
    padding-bottom: 30px;
  }
  
  .page-aboutme-content-post-footer {
    font-size: 34px;
  }
  
  .page-aboutme-content-post-body {
    font-size: 20px;
  }
}

@media (min-width: 500px) {
  .page-home-header-table {
    font-family: 'UserFont';
    color: #f1f1f1;
    font-size: 20px;
  }

  .page-aboutme-header-table-nested {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
   /* padding-bottom: 20px; */
  }

  .page-aboutme-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .page-aboutme-content-image {
    width: 100%;
    margin-bottom: 40px;
  } 
  
  .page-aboutme-content-post {
    width: 75%;
    margin-bottom: 25px;
  }
  
  .page-aboutme-content-post-header {
    letter-spacing: 3px;
    font-size: 42px;
    padding-bottom: 30px;
  }
  
  .page-aboutme-content-post-footer {
    font-size: 34px;
  }
  
  .page-aboutme-content-post-body {
    font-size: 20px;
  }
}

@media (min-width: 602px) {
  .page-home-header-table {
    border-bottom: 1px solid #ffffff;
    font-family: 'UserFont';
    color: #f1f1f1;
    font-size: 20px;
  }

  .page-aboutme-header-table-nested {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* padding-bottom: 20px; */
  }

  .page-home-header-table-nested {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* padding-bottom: 20px; */
  }

  .page-aboutme-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .page-aboutme-content-image {
    width: 100%;
    margin-top: 60px;
    margin-bottom: 40px;
  } 
  
  .page-aboutme-content-post {
    width: 75%;
    margin-bottom: 25px;
  }
  
  .page-aboutme-content-post-header {
    letter-spacing: 3px;
    font-size: 42px;
    padding-bottom: 30px;
  }
  
  .page-aboutme-content-post-footer {
    font-size: 34px;
  }
  
  .page-aboutme-content-post-body {
    font-size: 20px;
  }
}

@media (min-width: 1350px) {
  .page-home-header-table {
    border-bottom: 1px solid #ffffff;
    font-family: 'UserFont';
    color: #f1f1f1;
    font-size: 20px;
  }

  .page-aboutme-header-table-nested {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* padding-bottom: 20px; */
  }

  .page-home-header-table-nested {
    display: flex;
    flex-direction: column;
    align-items: center;
   /* padding-bottom: 20px; */
  }

  .page-aboutme-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 100px;
  }
  
  .page-aboutme-content-image {
    float: left;
    margin-left: 170px;
    margin-top: 60px;
    margin-right: 50px;
    margin-bottom: 80px;
  } 
  
  
  .page-aboutme-content-post-header {
    letter-spacing: 3px;
    font-size: 42px;
    padding-bottom: 30px;
  }
  
  .page-aboutme-content-post-footer {
    font-size: 34px;
  }
  
  .page-aboutme-content-post-body {
    font-size: 20px;
    padding: 5px;
  }
}



